/* LIGHT MODE */

body:after {
  position: absolute;
  width: 0;
  height: 0;
  overflow: hidden;
  z-index: -1;
  content: url(../assets/face-animation-light/bl-1.png) url(../assets/face-animation-light/bl-2.png) url(../assets/face-animation-light/bl-3.png) url(../assets/face-animation-light/bl-4.png) url(../assets/face-animation-light/bl-5.png) url(../assets/face-animation-light/tr-1.png) url(../assets/face-animation-light/tr-2.png) url(../assets/face-animation-light/tr-3.png) url(../assets/face-animation-light/tr-4.png) url(../assets/face-animation-light/tr-5.png) url(../assets/face-animation-light/bl-1.png) url(../assets/face-animation-light/bl-2.png) url(../assets/face-animation-light/bl-3.png) url(../assets/face-animation-light/bl-4.png) url(../assets/face-animation-light/bl-5.png) url(../assets/face-animation-light/br-1.png) url(../assets/face-animation-light/br-2.png) url(../assets/face-animation-light/br-3.png) url(../assets/face-animation-light/br-4.png) url(../assets/face-animation-light/br-5.png) url(../assets/face-animation-dark/blw-1.png) url(../assets/face-animation-dark/blw-2.png) url(../assets/face-animation-dark/blw-3.png) url(../assets/face-animation-dark/blw-4.png) url(../assets/face-animation-dark/blw-5.png) url(../assets/face-animation-dark/trw-1.png) url(../assets/face-animation-dark/trw-2.png) url(../assets/face-animation-dark/trw-3.png) url(../assets/face-animation-dark/trw-4.png) url(../assets/face-animation-dark/trw-5.png) url(../assets/face-animation-dark/blw-1.png) url(../assets/face-animation-dark/blw-2.png) url(../assets/face-animation-dark/blw-3.png) url(../assets/face-animation-dark/blw-4.png) url(../assets/face-animation-dark/blw-5.png) url(../assets/face-animation-dark/brw-1.png) url(../assets/face-animation-dark/brw-2.png) url(../assets/face-animation-dark/brw-3.png) url(../assets/face-animation-dark/brw-4.png) url(../assets/face-animation-dark/brw-5.png);
}

:root {
  /* Colors */
  --bg: #fff;
  --bg-alt: #333;
  --bg-alt-2: #f0f0f0;
  --bg-transparent: #ffffffe8;
  --border: 0.01rem solid #333;
  --text: #333;
  --text-alt: #fff;

  /* Face animations */
  --tl-1: url(../assets/new_hero/rest\ image.png);
  --tl-2: url(../assets/new_hero/top\ left\ middle.png);
  --tl-3: url(../assets/new_hero/top\ left\ middle.png);
  --tl-4: url(../assets/new_hero/top\ left\ full.png);
  --tl-5: url(../assets/new_hero/top\ left\ full.png);

  --tr-1: url(../assets/new_hero/rest\ image.png);
  --tr-2: url(../assets/new_hero/top\ right\ middle.png);
  --tr-3: url(../assets/new_hero/top\ right\ middle.png);
  --tr-4: url(../assets/new_hero/top\ right\ full.png);
  --tr-5: url(../assets/new_hero/top\ right\ full.png);

  --bl-1: url(../assets/new_hero/rest\ image.png);
  --bl-2: url(../assets/new_hero/bottm\ left\ middle.png);
  --bl-3: url(../assets/new_hero/bottm\ left\ middle.png);
  --bl-4: url(../assets/new_hero/bottm\ left\ full.png);
  --bl-5: url(../assets/new_hero/bottm\ left\ full.png);

  --br-1: url(../assets/new_hero/rest\ image.png);
  --br-2: url(../assets/new_hero/bottm\ rigth\ middle.png);
  --br-3: url(../assets/new_hero/bottm\ rigth\ middle.png);
  --br-4: url(../assets/new_hero/bottm\ right\ full.png);
  --br-5: url(../assets/new_hero/bottm\ right\ full.png);

  --sun: url(../assets/icons/sun.png);
}

/* DARK MODE */

:root.dark-mode {
  --bg: #202124;
  --bg-alt: #3c3d40;
  --bg-alt-2: #333;
  --bg-transparent: #333333f5;
  --border: 0.01rem solid #5a5a5a;
  --text: #fff;

  --tl-1: url(../assets/new_hero/rest\ image.png);
  --tl-2: url(../assets/new_hero/top\ left\ middle.png);
  --tl-3: url(../assets/new_hero/top\ left\ middle.png);
  --tl-4: url(../assets/new_hero/top\ left\ full.png);
  --tl-5: url(../assets/new_hero/top\ left\ full.png);

  --tr-1: url(../assets/new_hero/rest\ image.png);
  --tr-2: url(../assets/new_hero/top\ right\ middle.png);
  --tr-3: url(../assets/new_hero/top\ right\ middle.png);
  --tr-4: url(../assets/new_hero/top\ right\ full.png);
  --tr-5: url(../assets/new_hero/top\ right\ full.png);

  --bl-1: url(../assets/new_hero/rest\ image.png);
  --bl-2: url(../assets/new_hero/bottm\ left\ middle.png);
  --bl-3: url(../assets/new_hero/bottm\ left\ middle.png);
  --bl-4: url(../assets/new_hero/bottm\ left\ full.png);
  --bl-5: url(../assets/new_hero/bottm\ left\ full.png);

  --br-1: url(../assets/new_hero/rest\ image.png);
  --br-2: url(../assets/new_hero/bottm\ rigth\ middle.png);
  --br-3: url(../assets/new_hero/bottm\ rigth\ middle.png);
  --br-4: url(../assets/new_hero/bottm\ right\ full.png);
  --br-5: url(../assets/new_hero/bottm\ right\ full.png);

  --moon: url(../assets/icons/moon.png);
}

/* COLOR MODE TOGGLE BUTTON */

#color-mode {
  background: var(--bg-alt-2);
  height: 2.75rem;
  width: 4rem;
  border-radius: 3rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}

#toggle-button {
  background-image: var(--sun);
  background-size: cover;
  cursor: pointer;
}

.dark-mode #toggle-button {
  background-image: var(--moon);
}

.dark-mode #color-mode {
  justify-content: flex-end;
}